.main {
  width: 100%;
  background-image: url("../AboutUs/background/genshin\ bc.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  width: 100%;
}

.content {
  background-image: url("https://genshin.hoyoverse.com/_nuxt/img/615c72a.png");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 8%;
}
.content h1 {
  font-size: 50px;
  color: #fff;
  text-shadow: 0 0 10px #e1b571, 0 0 20px #e1b571, 0 0 40px #e1b571;
  margin: 0;
  font-size: calc(15.68px + 3.23vw);
}
.content p {
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 10px #e1b571, 0 0 20px #e1b571, 0 0 40px #e1b571;
}

.main h2 {
  margin-top: 90px;
  font-size: 50px;
  margin-bottom: 40px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0 0 10px #e1b571, 0 0 20px #e1b571, 0 0 40px #e1b571;
}

.swiper-container .swiper {
  width: 100%;
  height: 80%;
  margin-top: 70px;
  margin: 0;
}
.swiper-container {
  width: 80%;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 90%;
}

.swiper-slide:nth-child(2n) {
  width: 90%;
}

.swiper-slide:nth-child(3n) {
  width: 90%;
}

.features-img-right1 {
  width: 870px;
  height: 400px;
  margin-top: 55px;
  margin-left: 320px;
}
.text-right1 {
  width: 390px;
  height: 350px;
  position: relative;
  background-color: rgb(254, 255, 200);
  margin: -430px 0 0 180px;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgb(77, 74, 78);
}
.text-right1 h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(80, 80, 73);
  font-size: 32px;
  padding-top: 40px;
}
.text-right1 p {
  text-align: left;
  line-height: 24px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(80, 80, 73);
  padding: 30px 5px 0 20px;
}

.features-img-left {
  width: 870px;
  height: 400px;
  margin-top: 190px;
  margin-right: 300px;
}
.text-left {
  width: 390px;
  height: 350px;
  position: relative;
  background-color: rgb(254, 255, 200);
  margin: -433px 0 0 960px;
  border-radius: 5px;
  box-shadow: -5px 5px 30px rgb(77, 74, 78);
}
.text-left h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(80, 80, 73);
  font-size: 32px;
  padding-top: 80px;
}
.text-left p {
  text-align: left;
  line-height: 24px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(80, 80, 73);
  padding: 30px 5px 0 20px;
}

.features-img-right {
  width: 870px;
  height: 400px;
  margin-top: 190px;
  margin-left: 350px;
}
.text-right {
  width: 390px;
  height: 350px;
  position: relative;
  background-color: rgb(254, 255, 200);
  margin: -430px 0 0 180px;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgb(77, 74, 78);
}
.text-right h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(80, 80, 73);
  font-size: 32px;
  padding-top: 70px;
}
.text-right p {
  text-align: left;
  line-height: 24px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(80, 80, 73);
  padding: 30px 5px 0 20px;
}

.btn-nav {
  background: url("../AboutUs/background/bcBTN.png");
  font-family: Arial, Helvetica, sans-serif;
  background-size: contain;
  background-repeat: no-repeat;
  border-style: none;
  color: #804901;
  width: 280px;
  height: 55px;
  font-size: 23px;
  margin-top: 115px;
  margin-bottom: 60px;
  cursor: pointer;
}

@media (max-width: 1460px) {
  .features-img-right1 {
    width: 60%;
    height: 60%;
    margin-top: 0;
  }
  .text-right1 {
    width: 350px;
    height: 330px;
  }
  .text-right1 h3 {
    font-size: 34px;
  }
  .text-right1 p {
    font-size: 20px;
    line-height: normal;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  /*==========================================*/
  .features-img-right {
    width: 60%;
    height: 60%;
    margin-top: 100px;
  }
  .text-right {
    width: 350px;
    height: 330px;
  }
  .text-right h3 {
    font-size: 34px;
  }
  .text-right p {
    font-size: 20px;
    line-height: normal;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  /* ======================================*/
  .features-img-left {
    width: 55%;
    height: 50%;
  }
  .text-left {
    width: 365px;
    height: 350px;
    margin: -440px 0 100px 860px;
  }
  .text-left h3 {
    font-size: 34px;
    padding-top: 50px;
  }
  .text-left p {
    font-size: 20px;
    line-height: normal;
    padding-top: 5px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1300px) {
  .features-img-right1 {
    width: 60%;
    height: 60%;
    margin-top: 0;
  }
  .text-right1 {
    width: 300px;
    height: 280px;
  }
  .text-right1 h3 {
    font-size: 30px;
  }
  .text-right1 p {
    font-size: 16px;
    line-height: normal;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  /*==========================================*/
  .features-img-right {
    width: 60%;
    height: 60%;
    margin-top: 100px;
  }
  .text-right {
    width: 300px;
    height: 290px;
  }
  .text-right h3 {
    font-size: 30px;
  }
  .text-right p {
    font-size: 16px;
    line-height: normal;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  /* ======================================*/
  .features-img-left {
    width: 55%;
    height: 50%;
  }
  .text-left {
    width: 365px;
    height: 320px;
    margin: -390px 0 100px 820px;
  }
  .text-left h3 {
    font-size: 30px;
    padding-top: 50px;
  }
  .text-left p {
    font-size: 16 px;
    line-height: normal;
    padding-top: 5px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1200px) {
  .features-img-right1 {
    width: 60%;
    height: 60%;
    margin-top: 0;
  }
  .text-right1 {
    width: 300px;
    height: 280px;
    margin: -380px 0 0 145px;
  }
  .text-right1 h3 {
    font-size: 30px;
  }
  .text-right1 p {
    font-size: 16px;
    line-height: normal;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  /*==========================================*/
  .features-img-right {
    width: 60%;
    height: 60%;
    margin-top: 100px;
  }
  .text-right {
    width: 300px;
    height: 290px;
    margin: -370px 0 0 145px;
  }
  .text-right h3 {
    font-size: 30px;
  }
  .text-right p {
    font-size: 16px;
    line-height: normal;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  /* ======================================*/
  .features-img-left {
    width: 55%;
    height: 50%;
  }
  .text-left {
    width: 340px;
    height: 300px;
    margin: -360px 0 50px 710px;
  }
  .text-left h3 {
    font-size: 30px;
    padding-top: 50px;
  }
  .text-left p {
    font-size: 16 px;
    line-height: normal;
    padding-top: 5px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1100px) {
  .features-img-right1 {
    width: 60%;
    height: 60%;
    margin-top: 0;
  }
  .text-right1 {
    width: 300px;
    height: 250px;
    margin: -340px 0 0 125px;
  }
  .text-right1 h3 {
    font-size: 30px;
  }
  .text-right1 p {
    font-size: 16px;
    line-height: normal;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  /*==========================================*/
  .features-img-right {
    width: 60%;
    height: 60%;
    margin-top: 100px;
  }
  .text-right {
    width: 300px;
    height: 270px;
    margin: -345px 0 0 145px;
  }
  .text-right h3 {
    font-size: 30px;
    padding-top: 40px;
  }
  .text-right p {
    font-size: 16px;
    line-height: normal;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  /* ======================================*/
  .features-img-left {
    width: 55%;
    height: 50%;
  }
  .text-left {
    width: 340px;
    height: 270px;
    margin: -325px 0 50px 630px;
  }
  .text-left h3 {
    font-size: 30px;
    padding-top: 35px;
  }
  .text-left p {
    font-size: 16 px;
    line-height: normal;
    padding-top: 5px;
    margin-bottom: 10px;
  }
}

@media (max-width: 970px) {
  .features-img-right1 {
    width: 60%;
    height: 60%;
    margin-top: 0;
  }
  .text-right1 {
    width: 300px;
    height: 250px;
    margin: -300px 0 0 125px;
  }
  .text-right1 h3 {
    font-size: 30px;
    padding-top: 20px;
  }
  .text-right1 p {
    font-size: 16px;
    line-height: normal;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  /*==========================================*/
  .features-img-right {
    width: 60%;
    height: 60%;
    margin-top: 100px;
  }
  .text-right {
    width: 300px;
    height: 255px;
    margin: -330px 0 0 120px;
  }
  .text-right h3 {
    font-size: 30px;
    padding-top: 40px;
  }
  .text-right p {
    font-size: 16px;
    line-height: normal;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  /* ======================================*/
  .features-img-left {
    width: 55%;
    height: 50%;
  }
  .text-left {
    width: 315px;
    height: 270px;
    margin: -310px 0 50px 530px;
  }
  .text-left h3 {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .text-left p {
    font-size: 15 px;
    line-height: normal;
    padding-top: 1px;
    margin-bottom: 10px;
  }
}
@media (max-width: 940px) {
  .features-img-right1 {
    width: 70%;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .text-right1 {
    width: 70%;
    margin: auto;
    padding: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .text-right1 h3 {
    margin: -4px;
    font-size: 35px;
  }
  .text-right1 p {
    font-size: 25px;
    padding: 25 px;
    margin: 20px;
  }
  /* ====================================== */
  .features-img-right {
    width: 70%;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 100px;
  }
  .text-right {
    width: 70%;
    margin: auto;
    padding: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .text-right h3 {
    margin: -4px;
    font-size: 35px;
  }
  .text-right p {
    font-size: 25px;
    padding: 25 px;
    margin: 20px;
  }
  /* ======================================= */
  .features-img-left {
    width: 70%;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 100px;
  }
  .text-left {
    width: 70%;
    margin: -10px auto;
    padding: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .text-left h3 {
    margin: -4px;
    font-size: 35px;
  }
  .text-left p {
    font-size: 25px;
    padding: 25 px;
    margin: 20px;
  }
}
@media (max-width: 725px) {
  .text-right1 {
    height: 150px;
  }
  .text-right1 h3 {
    margin: -4px;
    font-size: 25px;
  }
  .text-right1 p {
    font-size: 15px;
    padding: 25 px;
    margin: 20px;
  }
  .text-right {
    height: 150px;
  }
  .text-right h3 {
    margin: -4px;
    font-size: 25px;
    padding-top: 15px;
  }
  .text-right p {
    font-size: 15px;
    padding: 25 px;
    margin: 20px;
  }
  .text-left {
    height: 150px;
  }
  .text-left h3 {
    margin: -4px;
    font-size: 25px;
    padding-top: 15px;
  }
  .text-left p {
    font-size: 15px;
    padding: 25 px;
    margin: 20px;
  }
}
@media (max-width: 420px) {
  .text-right1 {
    height: 150px;
  }
  .text-right1 h3 {
    margin: -4px;
    font-size: 15px;
    padding-top: 10px;
  }
  .text-right1 p {
    font-size: 13px;
    padding: 25 px;
    margin: 10px;
  }
  .text-right {
    height: 130px;
  }
  .text-right h3 {
    margin: -4px;
    font-size: 15px;
    padding-top: 10px;
  }
  .text-right p {
    font-size: 13px;
    padding: 25 px;
    margin: 10px;
  }
  .text-left {
    height: 130px;
  }
  .text-left h3 {
    margin: -4px;
    font-size: 15px;
    padding-top: 10px;
  }
  .text-left p {
    font-size: 13px;
    padding: 25 px;
    margin: 10px;
  }
  .btn-nav {
    width: 45%;
    font-size: 20px;
    margin: 50px auto;
    padding-bottom: 20px;
  }
}
