.container-bg {
  width: 100%;
  height: auto;
  background-image: url(https://genshin.hoyoverse.com/_nuxt/img/f2d6a3a.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 5%;
}

.products__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 5vh;
}

/* @media (min-width: 900px){
.css-btz150-MuiGrid-root {
width: calc(100% + 80px);
  margin: 0 auto;
}
 */

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
  font-size: 1.5rem !important;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root {
  color: white !important;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:hover:not(
    .Mui-disabled,
    .Mui-error
  ):before {
  border-bottom: 1px white solid !important;
}

.css-ittuaa-MuiInputAdornment-root {
  color: white !important;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px white solid !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  background-color: white;
  color: white !important;
}

.css-13i4rnv-MuiGrid-root {
  margin-top: 15px !important;
}

.css-v4u5dn-muiinputbase-root-muiinput-root:after {
  border: 2px solid white !important;
}

.MuiPaginationItem-root {
  color: white !important;
}

.MuiPaginationItem-root {
  /* background-color: white !important; */
  /* backdrop-filter: blur(15px) !important; */
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root {
  margin-top: 1.5rem !important;
}
